{% block sidebar %}
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h2 class="card-header">Sobre nós</h2>
    <div class="card-body">
      <p class="card-text"> Este blog é feito com o melhor e maior framework full stack Python, Django, seguindo o <a href="https://ebaconline.com.br/back-end-python">curso de desenvolvimento backend Python</a> da <a href="https://ebac.art.br/">EBAC</a>.
      Acompanhe o tutorial em <em>Django Central</em> para saber como foi feito.</p>
      <a href="https://djangocentral.com/building-a-blog-application-with-django" class="btn btn-danger">Saber mais</a>
    </div>
  </div>
</div>

{% endblock sidebar %}